<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="/main.css" />
    
</head>
<body>
    <h1>Add New God</h1>
    <form action="/egypt" method="POST">
    God Name:<input type="text" name="name"><br>
    Realms:<input type="text" name="realm"><br>
    Appearance:<input type="text" name="appearance"><br>
    God is Alive:<input type="checkbox" name="isAlive" checked><br>
    <button type="submit">Submit</button>
    </form>
    <a href="/egypt"><button type="submit">Go Back</button></a>
</body>
</html>